/* selector {declaration} */
/* 
    jenis selector
    1. selector element => menggunakan nama elemen ex. body, link, a, nav
    2. selector class => menggunakan nama class yg diawali dengan . ex. .header .login-form
    3. selector id => menggunakan nama id yg diawali dengan # ex. #username, #password
*/

/* custom var */
:root {
  /* --bg-color-1: #16b74e; */
  --bg-color-1: #61d8de;
  --bg-color-2: #7c70e6;
  --bg-color-3: #e839f6;
}

/* normalisasi style */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
  background-repeat: no-repeat;
  min-height: 100vh;
  /* 100 viewport height => 100% tinggi dari tampilan browser */
}

.btn {
  background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
  color: white;
  padding: 10px;
  width: 100px;
}

/* pseudo class */
.btn:hover {
  background-image: linear-gradient(to left, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
}

.container {
  background-color: white;
}

/* pseudo element */
/* header > p::first-letter {
  color: red;
} */

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas:
    ". . ."
    ". a ."
    ". . .";
}

/* main {}
.container {} */
main[class="container"] {
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
}

main header {
  flex: 2;
  position: relative;
}

main section {
  flex: 5;
}

header p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

main .login {
  width: 100%;
  padding: 10px;
}

form {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

form .input-group {
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 10px;
}

.input-group input {
  flex: 1;
  border: none;
  padding: 5px;
}

.input-group input:focus {
  outline: none;
}

#forgot {
  color: grey;
  text-align: right;
  margin-bottom: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

form .btn {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  font-weight: 400;
}

main .signup {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

section section:last-child {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

section section:last-child p {
  margin-top: auto;
}
